@charset "UTF-8";
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(155, 155, 155);
    margin: 0px;
}
header{
    background-color: #ffffff;
    padding: 10px;
    margin: 15px 15px 8px 15px;
}
nav{
    background-color: rgb(122, 122, 122);
    padding: 2px 3px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.315);
}
nav > a{
    color:white;
    text-decoration: none;
    margin: 10px;
}
nav > a:hover{
    text-decoration:underline;
    color: rgba(60, 60, 255, 0.616);
}
main{
    background-color: white;
    padding: 10px;
    margin: 5px 15px 15px 15px;
    text-align: justify;
    border-radius: 15px 0px;
}
article{
    background-color: rgba(146, 146, 146, 0.63);
    padding: 5px;
    
}
aside{
    background-color: rgba(107, 107, 107, 0.582);
}
footer{
    background-color: black;
    color: white;
    padding: 4px;
    text-align: center;
    margin: 0px;
}
footer>p{
    margin:0px;
}
#bola{
    height: 100px;
    width: 100px ;
    margin: 10px;
    background-color: #ffffff;
    border-radius: 50%;
}
