@charset "UTF-8";

/*
Celulares até 767px
Tablets: 768px até 1023px
Desktops 1024px até 1366px 
TVs: 1367px até 1920px
*/

@media  screen  and (min-width: 768px){
    #burguer{
        display: none;
    }    
    menu {
        display: block;
    }
    menu > ul > li {
        display: inline-block;

    }
    main{
        width: 700px;
    }
}